.idea/
.DS_Store
dist/
build/
serene-python-client.egg-info/
doc/

__pycache__
*.pyc
.coverage
.ipynb_checkpoints/

out.ssd

benchmark/
config/
dataint/
serene_python_client.egg-info/

tests/resources/museum_benchmark/data_copy/
tests/resources/museum_benchmark/ssd_copy/
tests/resources/museum_benchmark/dataset/*.csv


stp/resources/test
stp/resources/*.log
stp/ssds/
stp/resources/*.tar.gz
/museum_best_recommended.json
/museum_best_recommended.json.rtf
/s01-cb.csv.columnmap.txt
/s02-dma.csv.columnmap.txt
/s03-ima-artists.xml.columnmap.txt
/s04-ima-artworks.xml.columnmap.txt
/s05-met.json.columnmap.txt
/s06-npg.json.columnmap.txt
/s07-s-13.json.columnmap.txt
/s08-s-17-edited.xml.columnmap.txt
/s09-s-18-artists.json.columnmap.txt
/s10-s-18-artworks.json.columnmap.txt
/s11-s-19-artists.json.columnmap.txt
/s12-s-19-artworks.json.columnmap.txt
/s13-s-art-institute-of-chicago.xml.columnmap.txt
/s14-s-california-african-american.json.columnmap.txt
/s15-s-detroit-institute-of-art.json.columnmap.txt
/s16-s-hammer.xml.columnmap.txt
/s17-s-houston-museum-of-fine-arts.json.columnmap.txt
/s18-s-indianapolis-artists.xml.columnmap.txt
/s19-s-indianapolis-artworks.xml.columnmap.txt
/s20-s-lacma.xml.columnmap.txt
/s21-s-met.json.columnmap.txt
/s22-s-moca.xml.columnmap.txt
/s23-s-national-portrait-gallery.json.columnmap.txt
/s24-s-norton-simon.json.columnmap.txt
/s25-s-oakland-museum-paintings.json.columnmap.txt
/s26-s-san-francisco-moma.json.columnmap.txt
/s27-s-the-huntington.json.columnmap.txt
/s28-wildlife-art.csv.columnmap.txt
/s29-gilcrease.csv.columnmap.txt
/tests/resources/owl/applicant.png
/target/
/serene-python-client-fork.iml
/serene-python-client-fork.ipr
/serene-python-client-fork.iws
